/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    outline: 1px red dashed;
    --main-bg-color: rgb(87, 111, 114);
    --side-bg-color: rgb(125, 157, 156);
    --content-bg-color: rgb(228, 220, 207);
    --secondary-bg-color: rgb(240, 235, 227);
}
body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}
header {
    display: flex;
    align-items: center;

    height: 105px;
    background-color: var(--main-bg-color);
    color: var(--secondary-bg-color);
    font-size: 55px;

    #logo {
        height: 88px;
    }
}
main {
    flex: 1;
    display: grid;
    grid-template: 1fr / 250px 1fr;
    > nav {
        display: flex;
        flex-direction: column;
        background-color: var(--side-bg-color);
        #projects {
            display: flex;
            flex-direction: column;
        }
    }
    .content {
        background-color: var(--content-bg-color);
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    height: 50px;
    font-size: 18px;
    background-color: var(--main-bg-color);
    color: var(--secondary-bg-color);
}

.hidden {
    display: none;
}
#project-form {
    height: 230px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
form {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    #description {
        height: 100px;
    }
    .form-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 40px;
        width: 400px;
    }
    .title {
        font-size: 25px;
        font-weight: bold;
    }
    >button {
        border: none;
        background-color: var(--grey);
        border-radius: 8px;
        font-weight: bold;
        font-size: 20px;
    }
}
